doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{pageTitle}
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css", integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N", crossorigin="anonymous")
        link(rel="stylesheet", href="/css/main.css")
    body 

        .wrapper
            .row
                nav.col-2
                   a(href="/")
                       i.fa-solid.fa-dove 
                   a(href="/")
                       i.fa-sharp.fa-solid.fa-house
                   a(href="/search")
                       i.fa-solid.fa-magnifying-glass
                   a(href="/notification")
                       i.fa-solid.fa-bell
                   a(href="/messsages")
                       i.fa-solid.fa-envelope
                   a(href="/profile")
                       i.fa-solid.fa-user
                   a(href="/logout")
                       i.fa-solid.fa-right-from-bracket
                .mainSectionContainer.col-10.col-md-8.col-lg-6
                    block content

                .d-none.d-md-block.col-2.col-lg-4
                    span third column



        script(src='/js/font-awesome.js', crossorigin='anonymous')
        script(src='https://code.jquery.com/jquery-3.6.1.min.js', integrity='sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=', crossorigin='anonymous')
        script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js", integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk", crossorigin="anonymous")