mixin createPostForm(userLoggedIn)
    .postFormContainer
        .userImageContainer
            img(src=userLoggedIn.profilePic, alt="User's Profile Picture")
        .textAreaContainer
            textarea#postTextArea(placeholder="What's happening?")     
            .buttonConatiner
                button#submitPostbutton(disabled="") Post      